/*
 * TODO(sami): review CSS
 * Colors
 * bg #232946
 * button #eebbc3
 * paragraph #b8c1ec
 * headline #fffffe
 * button text #232946
 */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: proxima-nova, sans-serif;
  color: #fffffe;
  font-weight: 700;
}

/* Trick from https://github.com/marella/material-design-icons/tree/main/svg#styling to style svgs*/
svg {
  fill: currentColor;
}
